@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.light {
  --color-primary: #ffd600;
  --color-bg: #ffffff;
  --color-text: #222222;
}

.dark {
  --color-primary: #ffd600;
  --color-bg: #222222;
  --color-text: #ffffff;
}
